mixin basicInput(label, type, name, attrs={})
  .basicInput.input(class=name)
    label(for=name)= label
    input(type=type name=name id=name)&attributes(attrs)
      
mixin numberInput(label, name, min, max)
  .numberInput.input
    p.label= label
    div
      .counter.subtract(data-count="-1") -
      .counter.add(data-count="1") +
      .number= min
      input(type="number" name=name id=name value=min min=min max=max)
    p.error
      
mixin checkboxes(label, name, values=[])
  .checkboxes.input
    p.label= label
    each value in values
      label.checkbox(for=value)= value
      input(type='checkbox' name=name id=value value=value)

mixin radios(name, values=[])
  .radios.input
    each value in values
      div
        label(for=value)= value
        input(type='radio' name=name id=value value=value)

mixin dateInput()
  .dateInput.input
    label() Date
    input(type="text" name="date" placeholder="Date")
  
mixin timeInput()
  .timeInput.input
    label() Time
    select
      option(value="5:00") 5:00 PM
      option(value="5:30") 5:30 PM
      option(value="6:00") 6:00 PM
      option(value="6:30") 6:30 PM
      option(value="7:00") 7:00 PM
      option(value="7:30") 7:30 PM
      option(value="8:00") 8:00 PM
      option(value="8:30") 8:30 PM
      option(value="9:00") 9:00 PM
      option(value="9:30") 9:30 PM
      option(value="10:00") 10:00 PM
    //- input(type="text" name="time" placeholder="Time")
