mixin basicInput(label, type, name, attrs={})
  .basicInput.input
    label(for=name)= label
    input(type=type name=name id=name)&attributes(attrs)
      
mixin numberInput(label, name, min, max)
  .numberInput.input
    p.label= label
    div
      .counter.subtract(data-count="-1") -
      .counter.add(data-count="1") +
      .number= min
      input(type="number" name=name id=name value=min min=min max=max)
    p.error
      
mixin checkboxes(label, name, values=[])
  .checkboxes.input
    p.label= label
    each value in values
      label.checkbox(for=value)= value
      input(type='checkbox' name=name id=value value=value)

mixin radios(name, values=[])
  .radios.input
    each value in values
      div
        label(for=value)= value
        input(type='radio' name=name id=value value=value)

mixin dateInput()
  .dateInput.input
    label() Date
    input(type="text" name="date" placeholder="Date")
  
mixin timeInput()
  .timeInput.input
    label() Time
    input(type="text" name="time" placeholder="Time")
