mixin basicInput(label, type, name, attrs={})
  .basicInput.input(class=name)
    label(for=name)= label
    input(type=type name=name id=name)&attributes(attrs)
      
mixin numberInput(label, name, min, max)
  .numberInput.input
    p.label= label
    div
      .counter.subtract(data-count="-1") -
      .counter.add(data-count="1") +
      .number= min
      input(type="number" name=name id=name value=min min=min max=max)
    p.error
      
mixin checkboxes(label, name, values=[])
  .checkboxes.input
    p.label= label
    each value in values
      label.checkbox(for=value)= value
      input(type='checkbox' name=name id=value value=value)

mixin radios(name, values=[])
  .radios.input
    each value in values
      div
        label(for=value)= value
        input(type='radio' name=name id=value value=value)

mixin dateInput()
  .dateInput.input
    label() Date
    input(type="text" name="date" placeholder="Date")
  
mixin timeInput()
  .timeInput.input
    label() Time
    select(name="time")
      option(value="5:00 PM") 5:00 PM (chef will arrive at 3:30)
      option(value="5:30 PM") 5:30 PM (chef will arrive at 4:00)
      option(value="6:00 PM") 6:00 PM (chef will arrive at 4:30)
      option(value="6:30 PM") 6:30 PM (chef will arrive at 5:00)
      option(value="7:00 PM") 7:00 PM (chef will arrive at 5:30)
      option(value="7:30 PM") 7:30 PM (chef will arrive at 6:00)
      option(value="8:00 PM") 8:00 PM (chef will arrive at 6:30)
      option(value="8:30 PM") 8:30 PM (chef will arrive at 7:00)
      option(value="9:00 PM") 9:00 PM (chef will arrive at 7:30)
      option(value="9:30 PM") 9:30 PM (chef will arrive at 8:00)
      option(value="10:00 PM") 10:00 PM (chef will arrive at 8:30)
